[submodule ".xmonad"]
	path = .xmonad
	url = git@github.com:CestDiego/xmonad-ubuntu.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = git@github.com:CestDiego/.emacs.d.git
[submodule "imgur-screenshot"]
	path = imgur-screenshot
	url = git@github.com:jomo/imgur-screenshot.git
[submodule "xrectsel"]
	path = xrectsel
	url = git@github.com:lolilolicon/xrectsel.git
[submodule "rice"]
	path = rice
	url = git@github.com:janbrennen/rice.git
