[submodule ".xmonad"]
	path = .xmonad
	url = git@github.com:CestDiego/xmonad-ubuntu.git
[submodule "rice"]
	path = rice
	url = git@github.com:janbrennen/rice.git
[submodule "maglev"]
	path = maglev
	url = git@github.com:caiogondim/maglev.git
