#include "/home/jarvis/.colors/s3r0"

! #########################################
URxvt*perl-ext-common:		default,clipboard,font-size,keyboard-select,url-select
URxvt*url-select.launcher: /run/current-system/sw/bin/xdg-open
URxvt*perl-matcher: 		1
URxvt*matcher-button: 		3

URxvt*cursorUnderline: false
URxvt*letterspace: -5
urxvt*blurRadius: 75
URxvt*cursorBlink:		false
URxvt*scrollBar:		false
URxvt*depth:			32 URxvt*foreground: [100]#C0B18B
URxvt*background: [90]#1F1F1F
URxvt*tintColor: #1F1F1F
URxvt*internalBorder: 		5
URxvt*dynamicColors: on
URxvt.urgentOnBell:  true
URxvt*saveLines: 12000

! Clipboard Settings
URxvt.clipboard.copycmd:  xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped

! Font change settings
URxvt.iso14755:         false
URxvt.iso14755_52:      false
URxvt.keysym.C-equal:	  perl:font-size:increase
URxvt.keysym.C-minus:   perl:font-size:decrease
URxvt.keysym.C-0:       perl:font-size:reset

! Keyboard Select Settings
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search

! URL Select Settings, replaces Default Matcher Extension
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.button: 1
URxvt.url-select.underline: true

! Xft Stuff
Xft.antialias: true
Xft.autohint: 1
Xft.dpi: 96
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

!Xclock
xclock*majorColor: #9a875f
xclock*minorColor: #9a875f
xclock*minuteColor: #9a875f
xclock*hourColor: #9a875f
xclock*secondColor: #9a875f

URxvt*font: xft:Source Code Pro:Regular,xft:FontAwesome:size=10
URxvt*boldFont: xft:Source Code Pro:Bold
URxvt*italicFont: xft:Source Code Pro:Italic
URxvt*bolditalicFont: xft:Source Code Pro:Boldthinking :Italil