# -*- mode:conf -*-
[options]
scroll_on_output = false
scroll_on_keystroke = true
audible_bell = false
mouse_autohide = false
allow_bold = false
dynamic_title = true
urgent_on_bell = true
clickable_url = true
font = Knack PNFT Plus Font Awesome Plu 15
scrollback_lines = 10000
search_wrap = true
#icon_name = terminal
#geometry = 640x480

# "system", "on" or "off"
cursor_blink = off

# "block", "underline" or "ibeam"
cursor_shape = block

# $BROWSER is used by default

# set size hints for the window
#size_hints = false

# emit escape sequences for other keys modified by Control
#modify_other_keys = false
#

[hints]
#font = Dejavu Sans Mono 12
#foreground = #dcdccc
#background = #3f3f3f
#active_foreground = #e68080
#active_background = #3f3f3f
#padding = 2
#border = #3f3f3f
#border_width = 0.5
#roundness = 2.0

# if unset, will reverse foreground and background
#highlight = #2f2f2f

# vim: ft=dosini cms=#%s
[colors]

# special
foreground      = #F8F8F2
foreground_bold = #F8F8F2
cursor          = #F8F8F2
background      = #272822

# black
color0  = #272822
color8  = #F8F8F2

# red
color1  = #F92672
color9  = #A6E22E

# green
color2  = #A6E22E
color10 = #E6DB74

# yellow
color3  = #E6DB74
color11 = 

# blue
color4  = #66D9EF
color12 = #66D9EF

# magenta
color5  = #FD5FF0
color13 = #FD5FF0

# cyan
color6  = #A1EFE4
color14 = #A1EFE4

# white
color7  = #F8F8F2
color15 = #F8F8F2
